# log4j.rootLogger=DEBUG, stdout, flog
log4j.rootLogger=debug, flog, stdout

# Set levels per logger
log4j.logger.Client=debug
log4j.logger.ClientConnection=debug
log4j.logger.DataMarshaller=debug
log4j.logger.GPSMessage=debug
log4j.logger.GPSMessageHandler=debug
log4j.logger.Message=debug
log4j.logger.MessageFactory=debug
log4j.logger.MessageHandler=debug
log4j.logger.MessageHandlerFactory=debug
log4j.logger.MessageStatus=debug
log4j.logger.MessageStatusHandler=debug
log4j.logger.Server=debug
log4j.logger.ServerConnection=debug
log4j.logger.singletonConfig=debug
log4j.logger.TestMessage=debug
log4j.logger.TestMessageHandler=debug

# stdout is set to be a ConsoleAppender.
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%-4r [%t] %-5p %c (%F:%L) - %m%n

# flog is set to log to a file, not appended
log4j.appender.flog=org.apache.log4j.FileAppender
log4j.appender.flog.layout=org.apache.log4j.PatternLayout
log4j.appender.flog.file=watcherd.log
log4j.appender.flog.append=false
log4j.appender.flog.layout.ConversionPattern=%-4r [%t] %-5p %c (%F:%L) - %m%n



