# log4j.rootLogger=info, flog, stdout
# log4j.rootLogger=warn, flog, stdout
log4j.rootLogger=debug, flog, stdout
# log4j.rootLogger=trace, flog, stdout

# Set levels per module
# log4j.logger.global=trace

# log4j.logger.ClientConnection=trace
# log4j.logger.Client=trace
# log4j.logger.ColorMessageHandler=trace
# log4j.logger.DataMarshaller=trace
# log4j.logger.DataRequestMessageHandler=trace
# log4j.logger.EdgeMessageHandler=trace
# log4j.logger.GPSMessageHandler=trace
# log4j.logger.LabelMessageHandler=trace
# log4j.logger.MessageFactory=trace
# log4j.logger.MessageHandler=trace
# log4j.logger.MessageHandlerFactory=trace
# log4j.logger.MessageStatusHandler=trace
# log4j.logger.MessageStream=trace
# log4j.logger.MessageStreamFilter=trace
# log4j.logger.ServerConnection=trace
# log4j.logger.Server=trace
# log4j.logger.SingletonConfig=trace
# log4j.logger.TestMessageHandler=trace
# log4j.logger.WatcherdClientConnection=trace
# log4j.logger.Watcherd=trace
# log4j.logger.WatcherRegion=trace

# stdout is set to be a ConsoleAppender.
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%-4r [%t] %-5p %c (%F:%L) - %m%n

# flog is set to log to a file, not appended
log4j.appender.flog=org.apache.log4j.FileAppender
log4j.appender.flog.layout=org.apache.log4j.PatternLayout
log4j.appender.flog.file=watcher.log
log4j.appender.flog.append=false
log4j.appender.flog.layout.ConversionPattern=%-4r [%t] %-5p %c (%F:%L) - %m%n


